<launch>
  <arg name="namespace"               default="abot04_dynamixel"/>
  <arg name="is_loop"               default="true"/>

  <param name="$(arg namespace)/trajectory_info" value="$(find abot04_bringup)/config/motion2.yaml"/>

  <node name="joint_operator" pkg="dynamixel_workbench_operators" type="joint_operator"
        required="true" output="screen" ns="$(arg namespace)">
    <param name="is_loop" value="$(arg is_loop)"/>
  </node>
</launch>
